In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
# Import html infrastructure by ipywidgets
from ipywidgets.embed import embed_minimal_html

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-22 16:18:45,-23.1203,-134.9692,79.12,73,26,14.09
1,1,Mataura,NZ,2022-03-22 16:16:58,-46.1927,168.8643,53.29,98,9,1.97
2,2,Pyaozerskiy,RU,2022-03-22 16:18:46,65.8333,31.1667,33.57,94,84,8.39
3,3,Lexington,US,2022-03-22 16:15:49,37.9887,-84.4777,66.29,35,20,11.50
4,4,Kapaa,US,2022-03-22 16:18:47,22.0752,-159.3190,73.72,85,20,14.97

In [33]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [35]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [45]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.

embed_minimal_html('weather_data/heatmap_temp.html', views=[fig], title="Max Temp Heatmap")
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
embed_minimal_html('weather_data/heatmap_humid.html', views=[fig], title="Humidity Heatmap")
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
embed_minimal_html('weather_data/heatmap_wind.html', views=[fig], title="Wind Speed Heatmap")
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [17]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-03-22 16:18:45,-23.1203,-134.9692,79.12,73,26,14.09
7,7,Cape Town,ZA,2022-03-22 16:15:02,-33.9258,18.4232,80.11,52,0,18.41
14,14,Santa Ana,US,2022-03-22 16:16:55,33.7456,-117.8678,80.62,65,20,4.61
18,18,Puerto Ayora,EC,2022-03-22 16:18:54,-0.7393,-90.3518,84.16,86,70,5.99
22,22,Carnarvon,AU,2022-03-22 16:18:56,-24.8667,113.6333,77.07,78,95,11.50
29,29,Porto Novo,BJ,2022-03-22 16:19:00,6.4965,2.6036,85.82,62,80,13.29
31,31,Kutum,SD,2022-03-22 16:19:01,14.2000,24.6667,86.50,7,100,5.70
32,32,Bengkulu,ID,2022-03-22 16:19:02,-3.8004,102.2655,77.27,83,76,4.52
33,33,Atuona,PF,2022-03-22 16:19:02,-9.8000,-139.0333,79.02,77,100,15.10
40,40,Sao Felix Do Xingu,BR,2022-03-22 16:16:43,-6.6447,-51.9950,86.27,64,99,1.59

In [18]:
preferred_cities_df.count()

City_ID       178
City          178
Country       178
Date          178
Lat           178
Lng           178
Max Temp      178
Humidity      178
Cloudiness    178
Wind Speed    178
dtype: int64

In [19]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
0              Rikitea      PF     79.12 -23.1203 -134.9692
7            Cape Town      ZA     80.11 -33.9258   18.4232
14           Santa Ana      US     80.62  33.7456 -117.8678
18        Puerto Ayora      EC     84.16  -0.7393  -90.3518
22           Carnarvon      AU     77.07 -24.8667  113.6333
29          Porto Novo      BJ     85.82   6.4965    2.6036
31               Kutum      SD     86.50  14.2000   24.6667
32            Bengkulu      ID     77.27  -3.8004  102.2655
33              Atuona      PF     79.02  -9.8000 -139.0333
40  Sao Felix Do Xingu      BR     86.27  -6.6447  -51.9950

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,79.12,-23.1203,-134.9692,People ThankYou
7,Cape Town,ZA,80.11,-33.9258,18.4232,"Radisson Blu Hotel Waterfront, Cape Town"
14,Santa Ana,US,80.62,33.7456,-117.8678,"Motel 6 Santa Ana, CA"
18,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
29,Porto Novo,BJ,85.82,6.4965,2.6036,Tour Eiffel Hotel Benin
31,Kutum,SD,86.50,14.2000,24.6667,Dibbo areaمنطقة دبو
32,Bengkulu,ID,77.27,-3.8004,102.2655,Grage Hotel Bengkulu
33,Atuona,PF,79.02,-9.8000,-139.0333,Villa Enata
40,Sao Felix Do Xingu,BR,86.27,-6.6447,-51.9950,Rio Xingu Camping

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [44]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
embed_minimal_html('weather_data/temp_heatmap_hotel_markers.html', views=[fig], title="Hotels Near Destination")
fig

Figure(layout=FigureLayout(height='420px'))